<div class="new-todo">
  <form class="new-todo__form" action="/new-todo" method="POST">
    <input class="new-todo__task" type="text" name="task" placeholder="Enter new todo...">
    <button class="new-todo__button">Add</button>
  </form>
</div>