<div class="todo">
  <div class="todo__task">
    {{ task }}
  </div>
  <form class="todo__form" action="/update-todo" method="POST">
      <input class="todo__done" type="checkbox" name="done" {{#done}} checked {{/done}}/>
      <input type="hidden" name="id" value="{{id}}">
      <button class="todo__save">Save</button>
  </form>
</div>