<div class="todo">
  {{ task }}
  <form action="/update-todo" method="POST">
      <input type="checkbox" name="done" {{#done}} checked {{/done}}/>
      <input type="hidden" name="id" value="{{id}}">
      <button>Save</button>
  </form>
</div>