.todo {
  display: flex;
  justify-content: space-between;
  background-color: $grey;
  padding: 1rem;
  &__task {
    flex: 1;
  }
  &--done {
    text-decoration: line-through;
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    .todo__delete_action {
      cursor: pointer;
    }
  }
}

.new-todo {
  &__form {
    display: flex;
    margin-top: 1rem;
    input {
      padding: 1rem;
      flex: 3;
    }

    button {
      background-color: $blue;
      color: $white;
      border: 0;
      flex: 1;
    }
  }

  &__task {
    flex: 1;   
  }
}

.hide-update-controls {
  .todo__save, 
  .todo__delete {
    display: none;
    flex: 0;
  }
}