.todo {
  display: flex;
  justify-content: space-between;
  background-color: $grey;
  padding: 1rem;
  &--done {
    text-decoration: line-through;
  }
}

.new-todo {
  &__form {
    display: flex;
  }

  &__task {
    flex: 1;   
  }
}